<h1>Pages#info</h1>
<p>Find me in app/views/pages/info.html.erb</p>
<p> keropiyoといいます。</p>
<p>
  <strong>Picture:</strong>
  <img width="60" src="/uploads/idea/picture/1/keropiyo.png" alt="Keropiyo" />
</p>
